<h1>Company Name</h1>

<div>
  <a href="/" target="_blank">Sign In</a>
</div>

<!-- Big Image -->
<div>
  <img src="https://robohash.org/weeknd">
</div>

<!-- Create Profile Box -->
<div>
  <h3>Create Profile!</h3>
  Name
  Email
  Age
</div>

<!-- Company Description -->
<div>
  We hope to empower content creators to leverage better analytics to best serve their followers! We look forward to improving the experience for everyone together.
</div>

<a href="https://policies.google.com/privacy?hl=en-US" target="_blank">Privacy Policy</a>

<p>

<a href="https://policies.google.com/terms?hl=en-US" target="_blank">Terms & Conditions</a>

<!-- Social Images -->
<img src="https://1000logos.net/wp-content/uploads/2021/04/Facebook-logo.png">